.search {
    height: 50%;
    background-color: rgba(5, 32, 60, 1.0);
    color: white;
    box-sizing: border-box;
    width: 100%;


    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-left: 18rem;
        display: flex;
    }

    &__container {
        display: flex;
        margin-left: 18rem;
        padding-bottom: 5rem;

        &-textbox {
            height: 6rem;
            width: 16rem;
            margin: .2rem;
            border-radius: 6%;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 2.2rem;
        }

        &-button {
            margin-left: 6rem;
            height: 7rem;
            width: 12rem;
            border-radius: 12%;
            background-color: rgb(85, 85, 233);
            border-color: rgb(85, 85, 233);
            color: white;
            font-size: 2.4rem;
            font-weight: 600;
        }
    }
}